.header__left{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.header__left-link{
    align-items: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}