.header__title-alura{
    color: #2A7AE4;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.header__title-geek{
    color: #464646;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-right: 30px;
}