.header__input{
    background: #F5F5F5;
    border: none;
    color: #A2A2A2;;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px){
    .header__input{
        display: none;
    }
}