.productos__add-btn{
    background: #2A7AE4;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 1.5rem;
    text-decoration: none;
    transition: 0.5s;
}

.productos__add-btn:hover{
    background: #69a5f5;
}