.login__form-btn{
    background: #2A7AE4;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 1.5rem 0;
    cursor: pointer;
    transition: 0.5s;
}

.login__form-btn:hover{
    background: #69a5f5;
}

.login__form-btn-a{
    align-self: center;
    background: #2A7AE4;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 1.5rem 0;
    cursor: pointer;
    margin-top: 2rem;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    width: 100%;
}

