.contacto__form{
    display: flex;
    flex-direction: column;
    width: 560px;
}

.contacto__form__form{
    display: flex;
    flex-direction: column;
}

.contacto__form-nombre{
    border-radius: 5px;
    color: #A2A2A2;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    height: 50px;
    margin: 0.5rem 0;
    text-align: center;
    width: 100%;
}

.contacto__form-ta{
    border-radius: 5px;
    color: #A2A2A2;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    height: 85px;
    margin: 0.5rem 0;
    text-align: center;
    resize: none;
    width: 100%;
}

@media (max-width: 600px){
    .contacto__form{
        order: -1;
        width: 100%;
    }
    .contacto__form-nombre{
        width: auto;
    }
    .contacto__form-ta{
        width: auto;
    }
}